.container {
  min-height: 100vh;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f7fa;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.posh {
  color: gray;
  font-size: 24px;
}
.backLink {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
}

/* .header h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  flex: 1;
} */

.candidateCount {
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  /* margin-right: 20px; */
  border: 2px solid black;
}
.candidateStyle {
  border-bottom: 2px solid gray;
  padding: 8px;
}
.mostRecommendedBorder {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 22px;
}
.recommendedContainer {
  /* margin-bottom: 20px; */
  padding-bottom: 21px;
}

.recommendedContainer h2 {
  font-weight: 600;
  margin: 0;
  padding: 4px;
}

.recommendedContainer ul,
.additionalContainer ul {
  list-style: none;
  padding: 0;
  background-color: rgb(233, 231, 231);
  margin: 0;
}
.recommendedText {
  border-bottom: 2px solid black;
  text-align: center;
}
.recommendedContainer li,
.additionalContainer li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  font-size: 14px;
}
.candidateContainer {
}
.imageIcon {
  border-radius: 50%;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 8px;
}
.addUser {
  cursor: pointer;
  border-radius: 50%;
  color: rgb(123, 57, 123);
  border-color: rgb(123, 57, 123);
  font-size: 16px;
}
.recommendedName {
  color: #007bff;
  text-decoration: none;
}

.recommendedName:hover {
  text-decoration: underline;
}

.recommendedContainer p {
  font-size: 12px;
  color: #6c757d;
  line-height: 1.4;
  margin-top: 10px;
}

.additionalContainer {
  margin-top: 20px;
}
